
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can be read by anyone to make them searchable
    match /users/{userId} {
      allow read: if true;
      // Users can only create/update their own profile
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Messages can only be read/written by participants of the chat room
    match /messages/{messageId} {
       allow read, write: if request.auth != null && (request.auth.uid == resource.data.senderId || request.auth.uid == resource.data.receiverId);
    }
  }
}
